*.Rproj
*.Rapp
*.Rhistory
*.RData
*.Ruserdata
*.DS_Store
*.Rproj.user

TODO.md
*tmp*
docs/
ignore/
pdfs/

tests/*.rds
tests/*.rda

# package development
bayesnec.Rcheck/
check/
bayesnec*tar.gz
..Rcheck/
.Rproj.user
/Meta/
/paper
/articles/article_cache