*.Rproj
*.Rapp
*.Rhistory
*.RData
*.Ruserdata
*.DS_Store
*.Rproj.user

TODO.md
*tmp*
./*pdf
docs/
ignore/
pdfs/
cache/

tests/*.rds
tests/*.rda

# package development
bayesnec.Rcheck/
check/
bayesnec*tar.gz
..Rcheck/
.Rproj.user
/Meta/
paper/
article/*
!article/article.tex
!article/article.Rmd
!article/article.bib
!article/jss.bst
!article/jss.cls
!article/jsslogo.jpg
Check_priors_plots.pdf
doc/
